<div *ngIf="!getLoadingStatus()">
    <mat-list>
        <div mat-subheader>
            <h2>Preguntas</h2>
        </div>
        <div *ngFor="let q of getQuestions()" (click)="viewDetail(q)">
            <mat-list-item >
                <mat-icon mat-list-icon *ngIf="q.icon === null" class="material-icons icon">perm_scan_wifi
                </mat-icon>
                <mat-icon mat-list-icon *ngIf="q.icon !== null" class="{{q.icon}} icon">
                </mat-icon>
                <div mat-line>{{q.getTitle()}}</div>
                <div mat-line>
                    <p>{{q.respuestas.length}} respuestas ~
                        {{q.createdAt | amLocale:'es' | amTimeAgo}}</p>
                </div>
            </mat-list-item>
            <button mat-fab color="accent" class="btn">+</button>
        </div>

    </mat-list>
</div>