<mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i mat-list-icon class="{{pregunta.getIcon()}} icon" ></i>
      </div>
      <mat-card-title>
          <h2>{{pregunta.getTitle()}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
            <small>{{pregunta.getUser().getFullName()}} ~ {{pregunta.getCreatetionDate() | amLocale:'es' | amTimeAgo}}</small>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            {{pregunta.getDescription()}}
        </p>
    </mat-card-content>

    <mat-card-footer>
        <button mat-button><mat-icon>check_circle</mat-icon></button>
    </mat-card-footer>
</mat-card>

<div class="answers">
    <h3>
        Respuestas
    </h3>
    <ul class="answers-list" *ngIf = "pregunta.getRespuestas().length > 0" >
        <li *ngFor="let respuesta of pregunta.getRespuestas()">
            <h5>{{respuesta.getUser().getFullName()}} ~
                <small>{{respuesta.getCreateDate() | amLocale:'es' | amTimeAgo}}</small>
            </h5>
            <p class="description">
                {{respuesta.getDescripcion()}}
            </p>
        </li>

    </ul>
    <p *ngIf = "pregunta.getRespuestas().length === 0">Se el primero en compartir tu respuesta</p>
    <answer-form [pregunta] = "pregunta" class="answer-form"></answer-form>
</div>