<mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i mat-list-icon class="{{pregunta.icon}} icon" ></i>
      </div>
      <mat-card-title>
          <h2>{{pregunta.title}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
            <small>{{pregunta.user.firstName}} {{pregunta.user.lastName}} ~ {{pregunta.createdAt | amLocale:'es' | amTimeAgo}}</small>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            {{pregunta.description}}
        </p>
    </mat-card-content>

    <mat-card-footer>
        <button mat-button><mat-icon>check_circle</mat-icon></button>
    </mat-card-footer>
</mat-card>

<div class="answers">
    <h3>
        Respuestas
    </h3>
    <ul class="answers-list" *ngIf = "pregunta.respuestas.length > 0" >
        <li *ngFor="let respuesta of pregunta.respuestas">
            <h5>{{respuesta.user}} ~
                <small>{{respuesta.createdAt | amLocale:'es' | amTimeAgo}}</small>
            </h5>
            <p class="description">
                {{respuesta.description}}
            </p>
        </li>

    </ul>
    <p *ngIf = "pregunta.respuestas.length === 0">Se el primero en compartir tu respuesta</p>
    <answer-form [pregunta] = "pregunta" class="answer-form"></answer-form>
</div>